.footerLinksGrid{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.footLi a, .footLi a:visited{
    color: #575757;
    text-decoration: none;
}

.footLi a:hover{
    color: #000;
}


.footerblockTitle{
    padding-top: 8px;
    padding-right: 35px;
    padding-bottom: 8px;
    border-bottom: 0px;
    border-color: rgba(0,0,0,.05);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3333em;
    line-height: 1.25em;
    font-weight: 400;
}

.footerblockTitle p{
    margin: 0;
}

.footLi{
   background: url(../../../../assets/pics/bullet.png)  0 no-repeat !important;
   padding-left: 22px !important;
   list-style: none;
   border: none;
   font-size: 14px;
   margin: 0 0 8px;
   padding: 0;
   padding-left: 25px;
}

.footLi a {
    color: #575757;
    text-decoration: none;
    display: inline;
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.2rem;
}


   .footerblockContent{
        display: block;
    }

    .footerLinksGrid ul{
        margin-bottom: 0;
        padding: 0;
    }
    
 

@media (max-width: 768px) {
    .footerLinksGrid{
        flex-direction: column;
        padding:0;
    }

    .footerLinksElement {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .footerLinksGrid{
        gap: 15px;
    }

    .footerblockContent{
        background-color: #fff;
    }

    .footerLinksGrid ul{
        margin-bottom: 0;
        padding: 0 18px;
    }


    .footerblockContent li {
        padding: 10px 0;
        margin-bottom: 0;
    }

    .footerblockContent li p {
        margin-bottom: 0;
    }

    .footerblockContent_disabled {
        display: none;
    }
}