.searchResult {
    display: flex;
    gap: 15px;
}

.formElement {
    margin-bottom: 15px;
    border: solid 1px #efefef;
}

.header {
    padding: 7px;
}

.header {
    background-color: #efefef;
}

.input {
    margin-top: 4px;
    margin-bottom: 4px;
}

.input input {
    height: 32px;
}

.checkboxes {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.checkboxes li {
    margin-bottom: 0;
}

.filterBlock {
    flex-basis: 23.5%;
}


.foundItems {
    flex-basis: 70%;
    flex-grow: 1;
    height: max-content;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.foundItemGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    flex-grow: 1;
    padding: 30px 0;
}

.itemRoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.searchSpring {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    padding: 6px 10px;
    color: #aaa;
    text-align: center;
    background: #f4f4f4;
    font-size: 12px;
    clear: both;
    line-height: 32px;
}

.pullRight {
    display: flex;
    align-items: center;
}

.pullLeft {
    font-weight: 700;
}

.pullRightSelect select {
    background: #fff url(../../../assets/pics/select-bg.svg) no-repeat 100% 45%;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 4px 25px 5px 10px;
    vertical-align: baseline;
    width: 100%;
}

a.itemRoot:hover {
    text-decoration: none;
}

.itemRoot :global(.pull-left) {
    float: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationItem,
.paginationItem:hover,
.paginationItem:visited  {
    padding: 1rem;
    color: #000;
    text-decoration: none;
}

.paginationItemSelected {
    composes: paginationItem;
    cursor: unset;
    font-weight: 700;
}

.pageTitle span{
    font-size: 40px;
    margin-bottom: 40px;
}

a.clearAll,
a.clearAll:hover,
a.clearAll:active {
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
}