.footerContent {
    max-width: 1280px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 25px;
    padding: 1%;
    margin-bottom: 25px;
}

.footer {
    padding-top: 20px;
    background: #f4f4f4;
    margin-top: auto;
}

.copyright {
    background-color: #6e716e;
    color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    .footer {
        border-top: 1px solid #cecece;
    }

    .footerContent {
        padding: 15px;
    }

    .footer {
        background: #fff;
    }
}