.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "FooterAbout FooterWhy FooterContact";
}

.FooterAbout{
    padding-left: 1em;
    padding-right: 1em;
}

.FooterAbout { grid-area: FooterAbout; }

.FooterWhy { grid-area: FooterWhy; }

.FooterContact { grid-area: FooterContact; }


.aboutTop{
    margin-bottom: 0px;
}

.aboutBottom{
    margin-top: 0px;
}

.iconTwitter{
background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -7px -157px;
    background-repeat: no-repeat;
    background-color: #bbb;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.iconTwitter:hover {
    background-color: rgb(0, 102, 152);
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}
.iconFacebook:hover {
    background-color: rgb(0, 102, 152);
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}
.iconYoutube:hover {
    background-color: rgb(0, 102, 152);
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}
.iconPinterest:hover {
    background-color: rgb(0, 102, 152);
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}
.iconInstagarmm:hover {
    background-color: rgb(0, 102, 152);
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}
.iconFacebook{
background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -57px -157px;
    background-repeat: no-repeat;
    background-color: #bbb;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.iconYoutube{
    background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -157px -157px;
    background-repeat: no-repeat;
    background-color: #bbb;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.iconPinterest{
        background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -307px -157px;
    background-repeat: no-repeat;
    background-color: #bbb;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.iconInstagarmm{
    background-image: url(https://www.golfdiscount.com/media/images/inst-01.png);
    background-position: -4px -43px;
    background-repeat: no-repeat;
    background-color: #bbb;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.firstLinks{
    padding: 2px;
}

.block-title.heading{
padding-top: 8px;
    padding-right: 35px;
    padding-bottom: 8px;
    border-bottom: 0px;
    border-color: rgba(0,0,0,.05);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3333em;
    line-height: 1.25em;
    font-weight: 400;
}

.bullet{
    display: block;
}
.bullet .icon {
    padding: 0;
    max-width: 36px;
    max-height: 36px;
}

.feature>span.icon {
    text-align: center;
}

.ib, .feature>span.icon, .social-links a>span.icon {
    line-height: 36px;
    width: 36px;
    height: 36px;
}
.icon.i-char {
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #063;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
}
.feature:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}
.no-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature{
    display: flex;
}

.phoneIcon{
background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -7px -58px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #063;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;

    margin-right: 1em;
    margin-bottom: 1em;
}

.letterIcon{
background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -157px -58px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #063;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;

    margin-right: 1em;
    margin-bottom: 1em;
}

.locationIcon{
background-image: url(https://www.golfdiscount.com/media/images/sprite-icons-social.png);
    background-position: -207px -58px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #063;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;

    margin-right: 1em;
    margin-bottom: 1em;
}

.feature-icon-hover:hover>span.icon {
    background-color: #069;
    color: #fff;
    -webkit-transition: color 300ms ease-in-out,background-color 300ms ease-in-out,background-position 300ms ease-in-out;
}

.fieldSub{
    display: flex;
    padding-bottom: 26px;
}
.socialContainer{
    padding-bottom: 16px;
}
