.cms-block {
    margin: 0 auto;
}


.slickSlider {
    padding: 0;
}

.carouselBlock{
    margin-bottom: 30px;
}


@media (max-width: 768px) {
.carouselBlock{
    padding-left: 15px;
    padding-right: 15px;
}
}
