<div class="amasty-label-container amasty-label-container-1-187522-prod amasty-label-for-187522"
    style="display: none; color: #ac1014;"
    data-mage-init='{"Amasty_Label/js/initLabel":{ "mode": "prod", "isAdminArea": "", "config": {"position":"bottom-center","size":"","path":".product-image-container, .product-item-photo, .cdz-product-top","mode":"prod","move":0,"product":"187522","label":1,"margin":10,"alignment":0,"order":0,"redirect_url":"","tooltip":{"backgroundColor":"","color":"","status":1,"content":""}}, "productId": "187522", "selector": ".amasty-label-container-1-187522-prod" }}'>
    <div class="amlabel-text"></div>
    <img id="amasty-label-image-1-187522-prod" class="amasty-label-image" width="100%" height="100%"
        src="https://www.golfdiscount.com/media/amasty/amlabel/CLOSEOUT4_2.png"
        style="opacity: 1 !important;vertical-align: top;" title="Cobra King MIM Black Wedge"
        alt="Cobra King MIM Black Wedge">
</div>