<div class="mm-searchspring_element" id="frontpage-mm-searchspring-1">
    <div class="mm-searchspring-default mm-searchspring-5-products">
        <div class="mm-searchspring-heading">Recommendations For You</div>
        <ul class="mm-searchspring-product-list">
            <li class="mm-searchspring-product-list-item mm-searchspring-discounted">
                <div class="mm-searchspring-product-image"><a
                        href="https://www.golfdiscount.com/adidas-ultimate365-shorts"><img
                            src="https://www.golfdiscount.com/media/catalog/product/cache/f27342097bb2abb3a49036542fcec024/g/o/golf-apparel-adidas-ultimate365-shorts-black.jpg"
                            alt="Adidas Ultimate365 Shorts"></a></div>
                <div class="mm-searchspring-product-info"><a
                        href="https://www.golfdiscount.com/adidas-ultimate365-shorts">
                        <div class="mm-searchspring-product-brand">Adidas</div>
                        <div class="mm-searchspring-product-name">Adidas Ultimate365 Shorts</div>
                        <div class="mm-searchspring-price-info"><span
                                class="mm-searchspring-current-price-special"><span
                                    class="mm-searchspring-product-price money">$39.99</span></span><span
                                class="mm-searchspring-old-price"><span class="mm-searchspring-product-price"><small
                                        class="money">$64.99</small></span></span></div>
                    </a></div>
            </li>
            <li class="mm-searchspring-product-list-item mm-searchspring-discounted">
                <div class="mm-searchspring-product-image"><a
                        href="https://www.golfdiscount.com/taylormade-sim-max-individual-iron"><img
                            src="https://www.golfdiscount.com/media/catalog/product/cache/f27342097bb2abb3a49036542fcec024/t/a/taylormade-sim-sand-wedge-itempicture.jpg"
                            alt="TaylorMade SIM Max Individual Iron"></a></div>
                <div class="mm-searchspring-product-info"><a
                        href="https://www.golfdiscount.com/taylormade-sim-max-individual-iron">
                        <div class="mm-searchspring-product-brand">TaylorMade</div>
                        <div class="mm-searchspring-product-name">TaylorMade SIM Max Individual Iron</div>
                        <div class="mm-searchspring-price-info"><span
                                class="mm-searchspring-current-price-special"><span
                                    class="mm-searchspring-product-price money">$79.99</span></span><span
                                class="mm-searchspring-old-price"><span class="mm-searchspring-product-price"><small
                                        class="money">$112.99</small></span></span></div>
                    </a></div>
            </li>
            <li class="mm-searchspring-product-list-item mm-searchspring-discounted">
                <div class="mm-searchspring-product-image"><a
                        href="https://www.golfdiscount.com/taylormade-sim-max-irons"><img
                            src="https://www.golfdiscount.com/media/catalog/product/cache/f27342097bb2abb3a49036542fcec024/g/o/golf-iron-taylormade-sim-max-angle-itempicture.jpg"
                            alt="TaylorMade SIM Max Irons"></a></div>
                <div class="mm-searchspring-product-info"><a
                        href="https://www.golfdiscount.com/taylormade-sim-max-irons">
                        <div class="mm-searchspring-product-brand">TaylorMade</div>
                        <div class="mm-searchspring-product-name">TaylorMade SIM Max Irons</div>
                        <div class="mm-searchspring-price-info"><span class="mm-searchspring-current-price"><span
                                    class="mm-searchspring-product-price money">$599</span></span></div>
                    </a></div>
            </li>
            <li class="mm-searchspring-product-list-item mm-searchspring-discounted">
                <div class="mm-searchspring-product-image"><a
                        href="https://www.golfdiscount.com/callaway-2019-strata-12-piece-complete-set"><img
                            src="https://www.golfdiscount.com/media/catalog/product/cache/f27342097bb2abb3a49036542fcec024/2/0/2019-callaway-strata-complete-set_02a.jpg"
                            alt="Callaway 2019 Strata 12-Piece Complete Set"></a></div>
                <div class="mm-searchspring-product-info"><a
                        href="https://www.golfdiscount.com/callaway-2019-strata-12-piece-complete-set">
                        <div class="mm-searchspring-product-brand">Callaway</div>
                        <div class="mm-searchspring-product-name">Callaway 2019 Strata 12-Piece Complete Set</div>
                        <div class="mm-searchspring-price-info"><span class="mm-searchspring-current-price"><span
                                    class="mm-searchspring-product-price money">$399.99</span></span></div>
                    </a></div>
            </li>
            <li class="mm-searchspring-product-list-item mm-searchspring-discounted">
                <div class="mm-searchspring-product-image"><a
                        href="https://www.golfdiscount.com/catalog/product/view/id/186606/s/taylormade-tp5x-practice-bagged-golf-balls/"><img
                            src="https://www.golfdiscount.com/media/catalog/product/cache/f27342097bb2abb3a49036542fcec024/g/o/golf-balls-taylormade-tp5x-bagged-practice-balls-white-itempicture.jpg"
                            alt="TaylorMade 2019 TP5x Practice Bagged Golf Balls"></a></div>
                <div class="mm-searchspring-product-info"><a
                        href="https://www.golfdiscount.com/catalog/product/view/id/186606/s/taylormade-tp5x-practice-bagged-golf-balls/">
                        <div class="mm-searchspring-product-brand">TaylorMade</div>
                        <div class="mm-searchspring-product-name">TaylorMade 2019 TP5x Practice Bagged Golf Balls</div>
                        <div class="mm-searchspring-price-info"><span
                                class="mm-searchspring-current-price-special"><span
                                    class="mm-searchspring-product-price money">$24.99</span></span><span
                                class="mm-searchspring-old-price"><span class="mm-searchspring-product-price"><small
                                        class="money">$29.99</small></span></span></div>
                    </a></div>
            </li>
        </ul>
    </div>
</div>