:global(.yotpo-icon-star:before) {
    content: "\e60e";
  }


  :global(.yotpo-icon-half-star:before) {
    content: "\e61a";
  }
  
  :global(.yotpo-icon:before) {
    font-family: Verdana !important;
  }
  
  :global(.yotpo-icon-star),
  :global(.yotpo-icon-half-star) {
    color: #ffd200;
  }

  :global(.sr-only) {
    display: none;
  }


.contentHeaderStyle{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    width: auto;
}

.topContent{
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'GolfImage SearchBar TrackOrder';
    padding: 20px 0 0;
}

.logo{
    max-width: 70%;
    grid-area: GolfImage;
}
.logo img{
    display: block;
    height: auto;
    border: 0;
    width: 170px;
    height: auto;
    max-width: unset;
}

ul .trackOrder{
    margin-bottom: 0.5rem;
}

.contentOrder{
    grid-area: TrackOrder;
    display: flex;
    padding-left: 15px;
    justify-self: flex-end;
    align-self: flex-end;
}

.trackOrder a:visited,
.trackOrder a{
    background-color: darkred;
    color: white;
    height: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    padding: 0px;
    vertical-align: middle;
    line-height: 30px;
    text-decoration: none !important;
}

.trackOrder:hover a{
    background-color: red;
    color: yellow;
}

.searchBar{
    max-width: 790px;
    width: 100%;
    justify-self: flex-end;
    align-self: flex-end;
    grid-area: SearchBar;
    padding-left: 15px;
    position: relative;
}

.searchBarActive {
    composes: searchBar;
}
 
.searchContent{
    padding: 0px;
    overflow: unset;
    display: unset;
}

.searchActions{
display: block;
}

.searchBtn{
    display: inline-block;
    z-index: 1000;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    color: #333;
    cursor: pointer;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1.4rem;
}

/* picture */
.searchBtn::before{
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #757575;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.searchBtn span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.searchBtn:hover {
    background: none;
    border: none;
}

.searchBtn:hover::before{
    color: #000;
}

form{
    display: block;
    margin-top: 0em;
    -webkit-tap-highlight-color: transparent;
}
.contentLinksPanel{
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 1rem;
}
.contentLinks{
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
.contentLinks li{
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.linksCont{
    text-decoration: none;
}

.fieldSearch{
    display: flex;
    justify-content: right;
}
.controlSearch{
    width: 768px;
    height: 22px;
}

.miniCart{
    display: inline-block;
    position: relative;
    float: right;
    margin-left: 13px;
}

.minicartIcon {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #006bb4;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

.minicartIcon:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 28px;
    color: #757575;
    content: '\e611';
    font-family: luma-icons;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}


.navToggle {
    display: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 0;
    grid-area: 'NavToggle';
}   

.navToggle::before {
    line-height: inherit;
    color: #757575;
    content: '\e609';
    font-family: luma-icons;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    font-size: 42px;
    color: #000;
    font-weight: 700;
    margin-top: 0;
}


.controlSearch:focus + .inputBlock,
.inputBlock:active {
    display: flex;
}

.inputBlock{
    display: none;
    /* display: flex; */
    position: absolute;
    width: 100%;
    border: 1px solid #bbb;
    border-top: 3px solid #8eb4d0;
    border-radius: 1px;
    background: #fff;
    top: 100%;
    z-index: 9999;
    right: 30px;
}

.matchesItem{
    display: flex;
}

.leftBlock{
    padding: 20px 10px 70px;
    flex-basis: 30%;
}

.rightBlock {
    border-left: solid 1px #eee;
    flex-basis: 70%;

}

.itemGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.matchesItem em{
    font-weight: 700;
    font-style: normal;
    color: #000;
    text-align: left;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    font-size: 1.4rem;
}


.matchesItem a, .matchesItem a:hover, .matchesItem a:visited {
    color: #006bb4;
    text-decoration: none;
}


.matchItem{
    display: flex;
    gap: 2%;
    padding: 10px;
    cursor: pointer;
}

a.matchItem:hover {
    text-decoration: none;
}

.matchItem:hover{
    background-color: #f4f4f4;
}

.imageBlock {
    flex-basis: 20%;
}

.imageBlock img {
    display: block;
    background: url(../../../assets/pics/loader-1.gif);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.infoBlock{
    flex-basis: 80%;
}


.loader img{
    margin: 0 auto;
    display: block;
}

.allProductsBlock{
    padding: 12px;
    background-color: #f5f5f5;
    color: #333;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

.allProductsBlock a,
.allProductsBlock a:visited,
.allProductsBlock a:hover {
    color: #006bb4;
    text-decoration: none;
}


.title{
    color: #000;
}

.description {
    color: #929292;
    font-size: 11px;
}

.noProd {
    padding: 1em 0;
    text-align: center;
    width: 100%;
    color: #d3d3d3;
    font-size: large;
}

.price{
    color: #006bb4;
    font-size: 16px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
}

.stars {
    flex-grow: 1;
}

.searchAdaptiveToggle,
.searchAdaptiveToggle:hover,
.searchAdaptiveToggle:focus,
.searchAdaptiveToggle:active{
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.searchAdaptiveToggle img{
    display: block;
}



@media (max-width: 1280px) {
    .topContent{
        display: grid;
        padding-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'GolfImage TrackOrder'
        'SearchBar SearchBar';
    }
    .searchBar {
        justify-self: flex-end;
    }

    .searchBarActive {
        composes: searchBar
    }
}

@media (max-width: 768px) {

    .itemGrid{
        grid-template-columns: 1fr;
    }

    .controlSearch:focus + .inputBlock {
        display: block;
    }
    

    .inputBlock{
        top: 135%;
        right: 0;
        left: 0;
        padding: 10px;
    }

    .leftBlock {
        display: none;
    }

    .rightBlock {
        margin: 0 auto;
        border-left: none;
    }

    .searchBar{
        display: none;
    }

    .matchItem {
        flex-direction: column;
    }

    div.searchBarActive {
        display: block;
        padding-left: 0;
        padding-bottom: 20px;
    }

    .topContent {
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'NavToggle GolfImage TrackOrder'
        'SearchBar SearchBar SearchBar';
    }

    .searchAdaptiveToggle,
    .searchAdaptiveToggle:focus,
    .searchAdaptiveToggle:hover,
    .searchAdaptiveToggle:active{
        display: block;
    }

    .searchAdaptiveToggle img {
        min-width: 24px;
        min-height: 24px;
    }

    .searchBtn {
        display: none;
    };

    .contentOrder {
        align-self: center;
    }

    .trackOrder a {
        display: none;
    }

    .searchBar {
        display: none;
    }

    .navToggle {
        display: block;
    }   

    .navToggleOpen {
        composes: navToggle
    }

    .navToggleOpen:after {
            background: rgba(0,0,0,.7);
            content: '';
            display: block;
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
    }
    .navToggleOpen { 
        overflow: hidden; 
    }

    
    .minicartIcon:before {
        font-size: 38px;
        line-height: 38px;
    }

    .topContent {
        padding-left: 15px;
        padding-right: 15px;
    }

    
    .logo {
        justify-self: center;
        align-self: center;
    }

    .logo img {
        max-width: 170px;
        width: 100%;
    }

    .contentOrder {
        justify-self: center;
        align-self: center;
    }
}