.topHeaderStyle {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    overflow: visible;
    background: #006633;
    padding: 10px 20px 0;
}

.topHeaderStyle a,
.topHeaderStyle a:visited {
    color: #fff;
}

.topHeaderStyle a {
    margin: 0 auto;
    max-width: 1280px;
    background: #006633;
    padding: 15px;
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    transition: all ease-in-out .25s;
    text-align: center;
}

.topHeaderStyle a:hover {
    background: #087d42;
}

.topHeaderStyle img {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.topHeaderStyle a span {
    display: inline-block;
    margin-left: 20px;
}

.topHeaderStyle a span span {
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
}

@media (max-width:768px) {
    .topHeaderStyle {
        padding: 0 15px;
        background-color: #6e716e;
    }
}

@media (max-width:467px) {
    .topHeaderStyle {
        padding: 0 15px;
        background-color: #6e716e;
    }

    .topHeaderStyle img {
        display: inline-block;
        width: 30px;
        vertical-align: middle;
    }

    .topHeaderStyle span{
        font-size: 10px;
    }

    .topHeaderStyle a {
        line-height: 13px;
    }
}