.topHeaderStyle{
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    overflow: visible;
}
.topHeaderStyle a{
    background: #006633;
    padding: 15px;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    transition: all ease-in-out .25s;
    text-align: center;
}
.topHeaderStyle a:hover{
    background: #087d42;
}

.topHeaderStyle img {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}
.topHeaderStyle a span {
    display: inline-block;
    margin-left: 15px;
}
.topHeaderStyle a span span{
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}